.container {
  max-width: 970px;
  margin: 30px auto;
  display: flex;
  border-radius: 5px;

  padding: 15px;
  box-shadow: 0 10px 40px -10px rgb(0 64 128 / 10%);
  border: 1px solid #eee;
  background: #f9fafc;
}

.image {
  width: 250px;
  border-radius: 10px;
}
